
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 5;
  padding: 5px;
}

#tweet-form {
  height: 150px;
  width: 750px;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

#username-form {
  width: 300px;
  resize: both;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}

#username-input {
  width: 90%;
  height: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

#tweet-input {
  width: 95%;
  height: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

#username-submit {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #356e38;
  color: white;
  border: none;
  border-radius: 5px;
  height: auto;
  width: 100px;
}
/*
//updated style with bootstrap
#tweet-submit {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: auto;
}
*/

#not-to-tweet:hover,
#to-tweet:hover {
  background-color: #45a049;
  cursor: pointer;
}

#random-tweet-details,
#user-timeline {
  background-color: gray;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tweet {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.username {
  font-weight: bold;
  color: #1da1f2; /* Twitter blue */
  cursor: pointer;
}

.timestamp {
  font-size: 0.8em;
  color: #999;
}

#back-button {
  padding: 8px 15px;
  font-size: 14px;
  background-color: #fff;
  color: #1da1f2; /* Twitter blue */
  border: 1px solid #1da1f2;
  border-radius: 5px;
  cursor: pointer;
}

#back-button:hover {
  background-color: #1da1f2;
  color: #fff;
}

#new-tweet-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1da1f2; /* Twitter blue */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

#new-tweet-button:hover {
  background-color: #0d91e5; /* Darker shade of Twitter blue */
}
